body {
    background-image: url("star-bg.jpg");
    background-color: black;
    background-size: cover;
}

#index-sw-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

button {
    background-color: goldenrod;
    padding: .5em;
    margin-top: 1%;
    margin-bottom: 2%;
}

.center-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#info-box {
    width: 50%;
    height: 300px;
    border: 1px solid goldenrod;
}

h2 {
    color: rgb(47, 187, 206);
    font-family: 'Quattrocento Sans', sans-serif;
}

h3 {
    color: red;
}

.info {
    color: goldenrod;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 1em;
}